# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Shota Morinaga
	email = shota.morinaga@as-child.com 
[core]
	editor = vim
[branch]
	sort = -authordate
[commit]
	cleanup = scissors
[fetch]
	prune = true
[push]
	useForceIfIncludes = true
