" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

source ~/dotfiles/vim/common.vim

set scrolloff=5

" [shared] vim/.vimrc / .ideavimrc で揃えるプラグイン
Plug 'tpope/vim-commentary'
Plug 'tpope/vim-surround'
Plug 'tpope/vim-unimpaired'
Plug 'machakann/vim-highlightedyank'

map Q gq

nnoremap <Leader>ev :<C-u>vsplit ~/.ideavimrc<CR>
nnoremap <Leader>sv :<C-u>source ~/.ideavimrc<CR>

nmap gi  <Action>(GotoImplementation)
nmap [c  <Action>(VcsShowPrevChangeMarker)
nmap ]c  <Action>(VcsShowNextChangeMarker)
nmap [q  <Action>(GotoPreviousError)
nmap ]q  <Action>(GotoNextError)
nmap [b  <Action>(PreviousTab)
nmap ]b  <Action>(NextTab)
nmap [m  <Action>(EditorCodeBlockStartWithSelection)
nmap ]m  <Action>(EditorCodeBlockEndWithSelection)
nmap <C-l>       <Action>(NextSplitter)
nmap <C-h>       <Action>(PrevSplitter)
nmap <Leader>cp  <Action>(CopyContentRootPath)
nmap <Leader>sp  <Action>(SelectInProjectView)
nmap <Leader>k   <Action>(ShowHoverInfo)
nmap <Leader>q   <Action>(HideAllWindows)
