com.jetbrains.rubymine	.rb	all
com.jetbrains.rubymine	.erb	all
com.jetbrains.rubymine	.js	all
com.jetbrains.rubymine	.ts	all
com.jetbrains.rubymine	.tsx	all
com.jetbrains.rubymine	.jsx	all
com.jetbrains.rubymine	.json	all
com.jetbrains.rubymine	.yml	all
com.jetbrains.rubymine	.yaml	all
com.jetbrains.rubymine	.md	all
com.jetbrains.rubymine	.txt	all
com.jetbrains.rubymine	.sh	all
com.jetbrains.rubymine	.toml	all
com.jetbrains.rubymine	.gemspec	all
com.jetbrains.rubymine	.rake	all
com.jetbrains.rubymine	.ru	all
com.jetbrains.rubymine	.slim	all
com.jetbrains.rubymine	.haml	all
com.jetbrains.rubymine	.css	all
com.jetbrains.rubymine	.scss	all
com.jetbrains.rubymine	.html	all
com.jetbrains.rubymine	.xml	all
com.jetbrains.rubymine	.sql	all
com.jetbrains.rubymine	.env	all
com.jetbrains.rubymine	.lock	all
